%h3 Список словників
.row
  .col-md-12
    %table.table
      %thead
        %tr
          %th Назва словника
          %th Слова

      %tbody
        - @dictionaries.each do |dictionary|
          %tr
            %td= dictionary.title
            %td= link_to 'Показати слова', dictionary_words_path(dictionary)
