%h3= @dictionary.title

%table.table
  %thead
    %tr
      %th Слово
      %th
      %th

  %tbody
    - @words.each do |word|
      - present(object: word, helper_object: @dictionary) do |word_presenter|
        - word_presenter.table_row

%br

= link_to 'Нове слово', new_dictionary_word_path(@dictionary), class: "btn btn-success"

= link_to 'Назад', dictionaries_path, class: 'btn btn-danger'

